body {
}
body {
    background-image: url("https://s3.envato.com/files/240395800/Vector%20Shopping%20Cart%20with%20Shoes.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-color:pink;
}